
#root {
    -fx-background-color:  linear-gradient(lightgray, lightgray);
    -fx-border-color: white;
    -fx-border-radius: 20;
    -fx-padding: 10 10 10 10;
    -fx-background-radius: 20;

}

#bp {
    /*-fx-background-color:  linear-gradient(gray,DimGrey );*/

}

#btnLogin {
    -fx-background-radius: 30, 30, 29, 28;
    -fx-padding: 3px 10px 3px 10px;
    -fx-text-fill: #ede7f3;
    -fx-background-color: linear-gradient(#623318, #b35612 );
}

#text {
    /*-fx-fill:  linear-gradient(orange , orangered);*/


}

#firstpagePane{
    -fx-background-image: url('../pic/bakgrundquiz.jpg');
    -fx-background-repeat: stretch;
    -fx-background-position: center center;
}

#loginPane {
    -fx-background-image: url('../pic/loginbakgrund.jpg');
    -fx-background-repeat: stretch;
    -fx-background-position: center center;
}
#errorMessageLogin{
    -fx-text-fill: red;
}