#root {
    -fx-background-color:  linear-gradient(lightgray, lightgray);
    -fx-border-color: white;
    -fx-border-radius: 20;
    -fx-padding: 10 10 10 10;
    -fx-background-radius: 20;
}

#btnLogin {
    -fx-background-radius: 30, 30, 29, 28;
    -fx-padding: 3px 10px 3px 10px;
    -fx-text-fill: #ede7f3;
    -fx-background-color: linear-gradient(#623318, #b35612 );
}
#btnRegister{
    -fx-background-color: linear-gradient(#623318, #b35612 );
}

#firstpagePane{
    -fx-background-image: url('../pic/bakgrundquiz.jpg');
    -fx-background-repeat: stretch;
    -fx-background-position: center center;
}

#loginPane {
    -fx-background-image: url('../pic/loginbakgrund.jpg');
    -fx-background-repeat: stretch;
    -fx-background-position: center center;
}

#createTestPane{
    -fx-background-image: url('../pic/bakgrundquiz2.jpg');
    -fx-background-repeat: stretch;
    -fx-background-position: center center;
}

#errorMessageLogin{
    -fx-text-fill: red;
}

#errorPromt{
    -fx-prompt-text-fill: rgb(255, 0, 12);
    -fx-opacity: 1;
}

#errorPromt:focused{
    -fx-prompt-text-fill: rgba(255, 0, 12, 0);
}

#verifyText{
    -fx-text-fill: green;
    -fx-font-weight: Bold;
}
#registerLabels{
    -fx-font-weight: bold;
    -fx-font-style: italic;
    -fx-font-size: 16px;
}

#registerBackground{
    -fx-background-color: linear-gradient(#623318, #b35612 );
}
