/*LOGIN*/
/*LOGIN*/
#root {
    -fx-background-color:  linear-gradient(lightgray, lightgray);
    -fx-border-color: white;
    -fx-border-radius: 20;
    -fx-padding: 10 10 10 10;
    -fx-background-radius: 20;
}

#btnLogin {
    -fx-background-radius: 30, 30, 29, 28;
    -fx-padding: 3px 10px 3px 10px;
    -fx-text-fill: #ede7f3;
    -fx-background-color: linear-gradient(#744417, #ff7717 );
}
#btnLogin:hover{
    -fx-background-color: linear-gradient(#ad741b, #ff9e67);
    -fx-text-fill: #f9f3ff ;
}
#btnLogin:pressed{
    -fx-background-color: linear-gradient(#161183, #7e90ff);
    -fx-text-fill: #f9f3ff ;
}

#loginPane {
    -fx-background-image: url('../pic/loginPage2.jpg');
    -fx-background-repeat: stretch;
    -fx-background-position: center center;
}

#errorMessageLogin{
    -fx-text-fill: red;
}
/*LOGIN*/
/*LOGIN*/


/*FIRSTPAGE*/
/*FIRSTPAGE*/
#firstpagePane{
    -fx-background-image: url('../pic/bkreg.jpg');
    -fx-background-repeat: stretch;
    -fx-background-position: center center;
}

.firstpageL1{
    -fx-text-fill: #000000;

}

#textPane{
    -fx-background-color: rgb(255, 255, 255);
    -fx-border-color: #000000;
    -fx-border-radius: 20;
    -fx-padding: 10 10 10 10;
    -fx-background-radius: 20;
}
/*FIRSTPAGE*/
/*FIRSTPAGE*/


/*CREATE TEST*/
/*CREATE TEST*/
#createTestPane{
    -fx-background-image: url('../pic/bkreg.jpg');
    -fx-background-repeat: stretch;
    -fx-background-position: center center;
}
/*CREATE TEST*/
/*CREATE TEST*/




/*REGISTER*/
/*REGISTER*/
#registerLabels{
    -fx-font-weight: bold;
    -fx-font-style: italic;
    -fx-font-size: 16px;
}

#registerBackground{
    -fx-background-image: url('../pic/bkreg.jpg');
    -fx-background-repeat: stretch;
    -fx-background-position: center center;
    /*-fx-background-color: linear-gradient(#aa5515, #ff7717);*/
}

#rootRegister{
    -fx-background-color:rgba(211, 211, 211, 0.8);
    -fx-border-color: white;
    -fx-border-radius: 20;
    -fx-padding: 10 10 10 10;
    -fx-background-radius: 20;
}

#btnRegister{
    -fx-background-color: linear-gradient(#834f19, #ff7717);
    -fx-text-fill: #f9f3ff ;
}
#btnRegister:hover{
    -fx-background-color: linear-gradient(#ad741b, #ff9e67);
    -fx-text-fill: #f9f3ff ;
}
#btnRegister:pressed{
    -fx-background-color: linear-gradient(#161183, #7e90ff);
    -fx-text-fill: #f9f3ff ;
}

#verifyText{
    -fx-text-fill: green;
    -fx-font-weight: Bold;
}

#emptyFields{
    -fx-text-fill: red;
    -fx-font-weight: Bold;
}

#errorPromt{
    -fx-prompt-text-fill: rgb(255, 0, 12);
    -fx-opacity: 1;
}

#errorPromt:focused{
    -fx-prompt-text-fill: rgba(255, 0, 12, 0);
}
/*REGISTER*/
/*REGISTER*/


/*SETTINGS*/
/*SETTINGS*/
#settingsPane{
    -fx-background-color:rgba(211, 211, 211, 0.8);
    -fx-border-color: white;
    -fx-border-radius: 20;
    -fx-padding: 10 10 10 10;
    -fx-background-radius: 20;
}

#settingsBk{
    -fx-background-image: url('../pic/bkreg.jpg');
    -fx-background-repeat: stretch;
    -fx-background-position: center center;
}

#settingsLabel{
    -fx-text-fill: rgb(0, 0, 0);
    -fx-font-weight: bold;
    -fx-font-size: 16px;
}

/*SETTINGS*/
/*SETTINGS*/

/*STATICS*/
/*STATICS*/
.tab-pane *.tab-header-area *.tab-header-background {
    -fx-background-color:transparent;
}

.tab-pane {
    -fx-tab-min-width:100px;
    -fx-tab-max-width:100px;
    -fx-tab-min-height:30px;
    -fx-tab-max-height:30px;
    -fx-background-color: transparent;
}

.tab {
    -fx-font-family: Arial;
    -fx-font-size: 18;
    -fx-background-color: rgba(152, 152, 152, 0.9);

}

.tab:selected {
    -fx-background-color: #ff6b13;
    -fx-text-fill: white;

}

#tabStudent{
    -fx-background-color: white;

}

#tabTest{
    -fx-background-color: white;
}

#tabGroup{
    -fx-background-color: white;
}

.tab:selected .tab-label {
    -fx-text-fill: white ;
}

.tab-pane:focused > .tab-header-area > .headers-region > .tab:selected .focus-indicator {
    -fx-border-color: transparent;
}
/*STATICS*/
/*STATICS*/