

.QuestionPane{
    -fx-border-color: black;
    -fx-border-radius: 10pt;
}

.ContentPane{
    -fx-background-color:rgba(211, 211, 211, 0.8);
    -fx-border-color: white;
    -fx-border-radius: 20;
    -fx-padding: 10 10 10 10;
    -fx-background-radius: 20;
}

.BackGroundPane{
    -fx-background-image: url('../pic/bkreg.jpg');
    -fx-background-repeat: stretch;
    -fx-background-position: center center;
}

Button{
    -fx-background-color: #F0FFF0;
    -fx-text-fill: black;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-border-color: black;
    -fx-border-width: 1pt;
}

Button:hover{
    -fx-background-color: grey;
    -fx-text-fill: black;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-border-color: black;
    -fx-border-width: 1pt;

}

Button:pressed{
    -fx-background-color: grey;
    -fx-text-fill: black;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-border-color: blue;
    -fx-border-width: 2pt;
}

ComboBox{
    -fx-background-color: #F0FFF0;
    -fx-text-fill: black;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-border-color: black;
    -fx-border-width: 1pt;
}